body{

    background-color: black;
}


h1{
    background-color: black;
    color: white;
    font-size: 2.5rem;
    border: 2px solid green;
    width: 20vw;
    margin: 300px auto;
    text-align: center; 
    
}

h1:hover{
    /* transform: scale(1.02); */
    transform: translateY(-1.5px);
    cursor: pointer;
    border: 2px solid grey;
    box-shadow: 10px 10px 10px white;
}